<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ title | dump | safe }},
  "datePublished": "{{ page.date | isoDate }}",
  "dateModified": "{{ page.date | isoDate }}",
  "description": {{ (excerpt | autoExcerpt(content)) | dump | safe }},
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.name }}",
    "url": "{{ site.url }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  }{% if image %},
  "image": "{{ site.url }}{{ image }}"{% endif %}
}
</script>
