<meta property="article:published_time" content="{{ page.date | isoDate }}">
<meta property="article:modified_time" content="{{ (updated or page.date) | isoDate }}">
{% if categories and categories.length %}
<meta property="article:section" content="{{ categories[0] | categoryDisplayName }}">
{% for cat in categories %}
<meta property="article:tag" content="{{ cat | categoryDisplayName }}">
{% endfor %}
{% endif %}
